<br>
<div class="container">

  <div *ngIf="mensageShow">
    <app-mensagem-feedback [mensagemErro]="mensagemErro"></app-mensagem-feedback>
  </div>

  <div class="row">
    <div class="col-xl-8 offset-xl-2 py-5">
        <fieldset>
          <legend class="text-center">Emitir Extrato</legend>
          <br>
          <div>
            <a id="botao" class="btn btn-primary btn-lg btn-block" routerLink="todos-lancamentos" routerLinkActive="active">Todos os lançamentos</a>
            <a id="botao" class="btn btn-secondary btn-lg btn-block" routerLink="por-periodo" routerLinkActive="active">Lancamentos por periodo</a>
          </div>
          <br><br>
          <router-outlet></router-outlet>

        </fieldset>
    </div>
  </div>
</div>

<div *ngIf="particoes">
  <div class="jumbotron" *ngIf="extrato">
    <div class="row">
      <div class="col-xl-8 offset-xl-2 py-5">
        <form class="form-horizontal" id="table_extrato">
          <fieldset id="tabela">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Data e Hora</th>
                <th scope="col">Tipo</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let particao of particoes">
                <td>{{particao.dataHora}}</td>
                <td>{{particao.tipo}}</td>
                <td>{{particao.descricao}}</td>
                <td>{{(particao.tipo !== 'DEBITO' ? particao.valor : '-' + particao.valor) | currency : 'BRL' : 'symbol'}}</td>
              </tr>
              </tbody>
            </table>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>



