<form class="form-horizontal" id="contact_form">
  <fieldset>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="agencia">Agência *</label>
          <input type="text" id="agencia" name="agencia" class="form-control" [(ngModel)]="extrato.agencia"
                 placeholder=" Digite o número da agência" required #modelAgencia="ngModel">
          <app-mensagem-erro [model]="modelAgencia"></app-mensagem-erro>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="conta">Conta *</label>
          <input type="text" id="conta" name="conta" class="form-control" [(ngModel)]="extrato.conta"
                 placeholder=" Digite o número da conta" required #modelConta="ngModel">
          <app-mensagem-erro [model]="modelConta"></app-mensagem-erro>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="dataInicial">Data Inicial *</label>
          <input type="text" id="dataInicial" name="dataInicial" class="form-control" [(ngModel)]="extrato.dataInicial"
                 placeholder=" Digite o número da agência" required #modelDataInicial="ngModel">
          <app-mensagem-erro [model]="modelDataInicial"></app-mensagem-erro>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label for="dataFinal">Data Final *</label>
          <input type="text" id="dataFinal" name="dataFinal" class="form-control" [(ngModel)]="extrato.dataFinal"
                 placeholder=" Digite o número da conta" required #modelDataFinal="ngModel">
          <app-mensagem-erro [model]="modelDataFinal"></app-mensagem-erro>
        </div>
      </div>
    </div>

    <br>

    <div class="row text-center">
      <div class="col-md-12">
        <div class="form-group">
          <input id="submit" type="submit" (click)="consultarExtrato()" class="btn btn-secondary btn-lg">
        </div>
      </div>
    </div>
  </fieldset>
</form>
