
<br>
<div class="container">

  <div *ngIf="mensagemErro">
    <app-mensagem-feedback [mensagemErro]="mensagemErro"></app-mensagem-feedback>
  </div>

  <div class="row">
    <div class="col-xl-8 offset-xl-2 py-5">
      <form class="form-horizontal" id="contact_form">
        <fieldset>
      <legend class="text-center">Consultar Cliente</legend><br>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="cpf">CPF *</label>
            <input type="text" id="cpf" name="cpf" mask="000.000.000-00" class="form-control" [(ngModel)]="cliente.cpf" placeholder="000.000.000-00" required #modelCpf="ngModel" >
            <app-mensagem-erro [model]="modelCpf"></app-mensagem-erro>
          </div>
        </div>
      </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input id="submit" type="submit" (click)="consultaCliente()" class="btn btn-success btn-send">
            </div>
          </div>
        </div>
          <br>
        <div class="row" *ngIf="showCliente">
          <table>
            <tr>
              <th>Nome: </th>
              <th>{{cliente.nome}}</th>
            </tr>
            <tr>
              <td>CPF: </td>
              <td>{{cliente.cpf}}</td>
            </tr>
            <tr>
              <td>Situação: </td>
              <td>{{cliente.situacao}}</td>
            </tr>
          </table>
        </div>
        </fieldset>
        </form>
      </div>
  </div>
</div>






