
<br>
<div class="container">

  <div *ngIf="mensageShow">
    <app-mensagem-feedback [mensagemErro]="mensagemErro"></app-mensagem-feedback>
  </div>

  <div class="row">
    <div class="col-xl-8 offset-xl-2 py-5">
      <legend class="text-center">Consultar Cliente</legend><br>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="cpf">CPF *</label>
            <input type="text" id="cpf" name="agencia" class="form-control" [(ngModel)]="cliente.cpf" placeholder=" Digite o número do CPF:" required #modelCpf="ngModel" >
            <app-mensagem-erro [model]="modelCpf"></app-mensagem-erro>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input id="submit" type="submit" (click)="consultaCliente()" class="btn btn-success btn-send">
            </div>
          </div>
        </div>
        <div class="row" *ngIf="showCliente">
          <h2>Cliente: {{cliente.nome}}</h2><br>
          <h4>CPF: {{cliente.cpf}}</h4><br>
          <h4>Situação: {{cliente.situacao}}</h4>
        </div>
      </div>
  </div>
</div>






