<nav>
  <div id="logo" [routerLink]="['bem-vindo']"></div>
  <label for="drop" class="toggle">Menu</label>
  <input type="checkbox" id="drop" />

  <ul class="menu">

    <li >
      <!-- First Tier Drop Down -->

      <a>Cliente</a>

      <ul id=target>
        <li><a [routerLink]="['cliente','cadastro']">Cadastrar</a></li>
        <li><a [routerLink]="['cliente','consulta']">Consultar</a></li>
      </ul>

    </li>
    <li >
      <!-- First Tier Drop Down -->

      <a>Conta</a>

      <ul id=target>
        <li><a [routerLink]="['conta','cadastro']">Cadastrar</a></li>
        <li><a [routerLink]="['conta','cancela']">Cancelar</a></li>
      </ul>

    </li>
    <li >
      <!-- First Tier Drop Down -->

      <a>Transação</a>

      <ul id=target>
        <li><a [routerLink]="['transacao','saque']">Saque</a></li>
        <li><a [routerLink]="['transacao','deposito']">Depósito</a></li>
        <li><a [routerLink]="['transacao','transferencia']">Transferência</a></li>
        <li><a [routerLink]="['transacao','saldo']">Saldo</a></li>
        <li><a [routerLink]="['transacao','extrato']">Extrato</a></li>
      </ul>

    </li>
  </ul>
</nav>
