<br>
<div class="container">

  <div *ngIf="mensageShow">
    <app-mensagem-feedback [mensagemSucesso]="mensagemSucesso" [mensagemErro]="mensagemErro"></app-mensagem-feedback>
  </div>

  <div class="row">
    <div class="col-xl-8 offset-xl-2 py-5">
      <form [formGroup]="formulario" class="form-horizontal" id="contact_form">
        <fieldset>
          <legend class="text-center">Cadastro da Conta</legend><br>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Agência *</label>
                <input type="text" formControlName="agencia" name="agencia" class="form-control" placeholder=" Digite o número da agência">
                <app-mensagem-erro [model]="formulario.get('agencia')"></app-mensagem-erro>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>CPF do Titular *</label>
                <input type="text" formControlName="cpfTitular" name="cpfTitular" mask="000.000.000-00" class="form-control" placeholder="000.000.000-00">
                <app-mensagem-erro [model]="formulario.get('cpfTitular')"></app-mensagem-erro>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="form-group">
              <label for="pacote">Pacote de Serviços</label>
              <select id="pacote" class="form-control" formControlName="tipoDoPacoteDeServicos" name="tipoDoPacoteDeServicos">
                <option value="">Selecione: </option>
                <option value="BASICO">Básico</option>
                <option value="ESPECIAL">Especial</option>
              </select>
              <app-mensagem-erro [model]="formulario.get('tipoDoPacoteDeServicos')"></app-mensagem-erro>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input [disabled]="formulario.invalid" (click)="cadastra()" id="submit" type="submit" class="btn btn-success btn-send">
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>
