<nav>
  <div id="logo"></div>
  <!-- menu mobile -->
  <label for="drop" class="toggle">Menu</label>
  <input type="checkbox" id="drop" />
  <!-- menu mobile end-->
  <ul class="menu">

    <li >
      <!-- First Tier Drop Down -->

      <a href="#">Cliente</a>

      <ul id=target>
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Consulta</a></li>
      </ul>

    </li>
    <li >
      <!-- First Tier Drop Down -->

      <a href="#">Conta</a>

      <ul id=target>
        <li><a href="#">Cadastro</a></li>
        <li><a href="#">Consulta</a></li>
      </ul>

    </li>
    <li >
      <!-- First Tier Drop Down -->

      <a href="#">Transação</a>

      <ul id=target>
        <li><a href="#">Saque</a></li>
        <li><a href="#">Depósito</a></li>
        <li><a href="#">Transferência</a></li>
      </ul>

    </li>
  </ul>
</nav>



<app-cadastro></app-cadastro>


