


<br>
<div class="container">

  <app-mensagem-feedback [mensagemSucesso]="mensagemSucesso" [mensagemErro]="mensagemErro"></app-mensagem-feedback>

  <div class="row">
    <div class="col-xl-8 offset-xl-2 py-5">
      <form [formGroup]="formulario" class="form-horizontal" id="contact_form">
        <fieldset>
          <legend class="text-center">Cadastro de Cliente</legend><br>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Nome *</label>
                <input type="text" formControlName="nome" name="nome" class="form-control" placeholder=" Digite o nome" required>
                <app-mensagem-erro [model]="formulario.get('nome')"></app-mensagem-erro>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label>CPF *</label>
                <input type="text" formControlName="cpf" name="cpf" class="form-control" placeholder=" Digite o CPF" required>
                <app-mensagem-erro [model]="formulario.get('cpf')"></app-mensagem-erro>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <input [disabled]="formulario.invalid" (click)="cadastra()" id="submit" type="submit" class="btn btn-success btn-send">
              </div>
            </div>
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>





